body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.exhibition {
    border: 1px double #7d858d;
    border-width: 2px;
    width: 32%;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 3%;
    border-radius: 20px;
}

.room {
    border: 1px double #7d858d;
    border-width: 2px;
    width: 47%;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 3%;
    border-radius: 20px;
}

.creator {
    border: 1px double #036cd5;
    border-width: 2px;
    width: 32%;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 3%;
    border-radius: 20px;
}

.creator-exhibit {
    border: 1px double #036cd5;
    border-width: 2px;
    width: 100%;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 3%;
    border-radius: 10px;
}

.ksponat {
    border: 1px double #7d858d;
    border-width: 2px;
    width: 47%;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 3%;
    border-radius: 20px;
}

.menu-item{
    text-align: center;
    float:left;
    background-color: #fff;
    color: #0e1019;
    border: 1px double #0e1019;
    border-width: 2px;
    width: 47%;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 3%;
    border-radius: 20px;
}

    .menu-item :hover 
    {
        color:#12183e
    }

.highlights {
    text-align: center;
    margin: 20px;
    font-size: 300%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0d367b;
}

.min
{
    font-size:150%;
}

.desc {
    text-align: left;
    float: left;
    background-color: #ffffff;
    color: #0e1019;
    border: solid #0e1019;
    border-width: 2px;
    width: 100%;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 3%;
    border-radius: 20px;
}

.ex-in-room {
    border: 1px double #7d858d;
    border-width: 2px;
    width: 21%;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 3%;
    border-radius: 20px;
}

.text-description {
    width: 60%;
    height: 22%;
    padding: 5px 10px 5px 10px;
    border: 1px solid #999;
    font-size: 16px;
    font-family: Tahoma;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 15px 90px 8px 15px;
    min-height: 48px;
    position: relative;
    clear: both;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.ibox-content-more {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 3px 20px 3px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
