@{
    ViewBag.Title = "Создатели";
}

<div class="container m-4">
    <br />
    <a class="btn btn-primary m-3" data-toggle="collapse" href="#addCreator" role="button" aria-expanded="false" aria-controls="addExhibition">
        Добавить создателя
    </a>
    <div class="collapse m-2" id="addCreator">
        <form>
            <div class="row m-1">
                <div class="col-sm-4">
                    <h6>Имя</h6>
                    <input required type="text" class="form-control" id="input-name" placeholder="Введите полное имя">
                </div>
                <div class="col-sm-4">
                    <h6>Страна</h6>
                    <input required type="text" class="form-control" id="input-country" placeholder="Введите страну рождения/Неизвестно">
                </div>
                <div class="col-sm-4">
                    <h6>Года жизни</h6>
                    <input required type="text" class="form-control" id="input-lifetime" placeholder="В любом формате/Неизвестно">
                </div>
            </div>
            <div class="row m-1">
                <div class="col-sm-6">
                    <br />
                    <button id="btn-add" type="button" class="btn btn-primary">Добавить</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
    @Html.Action("OutPutCreators", "Creators")
</div>