@{
    ViewBag.Title = "Контакты";
}
<br />
<address style="">
    город Воронеж<br />
    улица Плехановская, 19<br />
    <abbr title="Контактный телефон">Т:</abbr>
    8-911-777-13-22
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:mymailvrn98@gmail.com">support@gmail.com</a><br />
</address>