@{
    ViewBag.Title = "Главная страница";
}
<div class="highlights">
    Музей современного искусства
</div>

<div class="container">
    <div class="row">
        <div class="menu-item">
            <h3>@Html.ActionLink("Создатели", "CreatorsView", "Creators")</h3>
        </div>
        <div class="menu-item">
            <h3>@Html.ActionLink("Экспонаты", "ExhibitsView", "Exhibits")</h3>
        </div>
    </div>
    <div class="row">
        <div class="menu-item">
            <h3>@Html.ActionLink("Залы", "RoomsView", "Rooms")</h3>
        </div>
        <div class="menu-item">
            <h3>@Html.ActionLink("Выставки", "ExhibitionsView", "Exhibitions")</h3>
        </div>
    </div>
</div>

<div class="container desc">
    <h3><u>Почему нужно прийти именно к нам?</u></h3>
    <p>
        <h4 style="line-height: 2.2;">
            В нашем музее молодые (и не совсем) таланты и дарования могут проявить себя, выражая душу на холст или мрамор.
            Наш музей работает круглосуточно и Вы можете прийти в любое удобное для Вас время суток.
            Здание музея прекрасно не только тем, что он является кладовой искусства, но и то, что он сам является произведением искусства.
            Команда архитекторов создала шикарный фасад и роскошные залы внутри здания.
            Это не старый музей, где всё скрипит и вот-вот разрушится, где нельзя прикасаться к произведениям создателей.
            У нас Вы сможете всегда потрогать каждый экспонат, чтобы узнать какой материал на ощупь.
        </h4>
    </p>
</div>
<div class="row"></div>